# Zendesk Credentials and Domain
CREDENTIALS = {
    "email": "",
    "password": "",
    "subdomain": ""}

# SLA work period
SLA_PERIOD = [8, 9, 10, 11, 12, 13, 14, 15, 16]

# Ticket status to being searched
SEARCH_TICKET = {
    "type": 'ticket',
    "status": ["new", "open", "pending", "hold"]}

# Slack BOT OAuth Token
SLACK_TOKEN = ""
