# Insert all domain URL
ZENDESK_DOMAIN: str = "https://domainexample.zendesk.com"

# Login Credentials. Subdomain must be https subdomain
ZENDESK_CREDENTIALS: dict = {
    "email": "",
    "password": "",
    "subdomain": "domainexample"}

# Zendesk Collaborator: Slack mark, If Slack mark setted with None,
# Bot will notificate the person that sended last update message
COLLABORATORS: dict = {
    "Person One": "@personone",
    "Person Two": "@persontwo",
    "Person Three": None}

# Ticket searching metric
SEARCH_TICKET: dict = {
    "type": 'ticket',
    "status": ["new", "open", "pending", "hold"]}

# If want to block any ticket from notificate
BLOCKED_TICKETS: list[int] = []

# Time to expire some metric
PERIODS: dict = {
    "NEW": "20 MINUTES",
    "WAIT": "1 HOUR",
    "PERIODIC": "1 HOUR"
}

# Slack BOT OAuth Token
SLACK_TOKEN: str = ''

# Slack Notification channel
SLACK_OPEN_CHANNEL: str = '#zenkleber'
